<p id="notice"><%= notice %></p>

<h1>Pessoas</h1>

<table>
  <thead>
    <tr>
      <th>Cpf</th>
      <th>Nome</th>
      <th>Sexo</th>
      <th>Dtnasc</th>
      <th>Logradouro</th>
      <th>Cep</th>
      <th>Bairro</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pessoas.each do |pessoa| %>
      <tr>
        <td><%= pessoa.cpf %></td>
        <td><%= pessoa.nome %></td>
        <td><%= pessoa.sexo %></td>
        <td><%= pessoa.dtNasc %></td>
        <td><%= pessoa.logradouro %></td>
        <td><%= pessoa.cep %></td>
        <td><%= pessoa.bairro %></td>
        <td><%= pessoa.email %></td>
        <td><%= pessoa.telefone %></td>
        <td><%= pessoa.ativo %></td>
        <td><%= link_to 'Show', pessoa %></td>
        <td><%= link_to 'Edit', edit_pessoa_path(pessoa) %></td>
        <td><%= link_to 'Destroy', pessoa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pessoa', new_pessoa_path %>
