<%= simple_form_for(@formacao_evento) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :pessoa %>
    <%= f.input :data %>
    <%= f.association :equipe %>
    <%= f.association :evento %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
