<p id="notice"><%= notice %></p>

<h1>Formacao Eventos</h1>

<table>
  <thead>
    <tr>
      <th>Pessoa</th>
      <th>Data</th>
      <th>Equipe</th>
      <th>Evento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formacao_eventos.each do |formacao_evento| %>
      <tr>
        <td><%= formacao_evento.pessoa %></td>
        <td><%= formacao_evento.data %></td>
        <td><%= formacao_evento.equipe %></td>
        <td><%= formacao_evento.evento %></td>
        <td><%= link_to 'Show', formacao_evento %></td>
        <td><%= link_to 'Edit', edit_formacao_evento_path(formacao_evento) %></td>
        <td><%= link_to 'Destroy', formacao_evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formacao Evento', new_formacao_evento_path %>
