<table class="table">
<thead>
  <tr>
    <th>Nome</th>
    <th>Preco</th>
    <th>Ativo</th>
    <th>Obs</th>
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>
  <% @produtos.each do |produto| %>
    <tr>
      <td><%= produto.nome %></td>
      <td><%= produto.preco %></td>
      <td><%= produto.ativo %></td>
      <td><%= produto.obs %></td>
      <td><%= link_to 'Show', produto %></td>
      <td><%= link_to 'Edit', edit_produto_path(produto) %></td>
      <td><%= link_to 'Destroy', produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>