<p id="notice"><%= notice %></p>

<h1>Conta</h1>

<table>
  <thead>
    <tr>
      <th>Valor</th>
      <th>Sitiacao</th>
      <th>Pessoa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conta.each do |contum| %>
      <tr>
        <td><%= contum.valor %></td>
        <td><%= contum.sitiacao %></td>
        <td><%= contum.pessoa %></td>
        <td><%= link_to 'Show', contum %></td>
        <td><%= link_to 'Edit', edit_contum_path(contum) %></td>
        <td><%= link_to 'Destroy', contum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contum', new_contum_path %>
