<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @contum.valor %>
</p>

<p>
  <strong>Sitiacao:</strong>
  <%= @contum.sitiacao %>
</p>

<p>
  <strong>Pessoa:</strong>
  <%= @contum.pessoa %>
</p>

<%= link_to 'Edit', edit_contum_path(@contum) %> |
<%= link_to 'Back', conta_path %>
