<%= simple_form_for(@pagamento) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :data %>
    <%= f.association :account %>
    <%= f.input :valor %>
    <%= f.input :desconto %>
    <%= f.input :forma_de_pagamento %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
