<table class="table">
  <thead>
    <tr>
      <th>Data</th>
      <th>Account</th>
      <th>Valor</th>
      <th>Desconto</th>
      <th>Forma de pagamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pagamentos.each do |pagamento| %>
      <tr>
        <td><%= pagamento.created_at %></td>
        <td><%= pagamento.conta_evento.nome %></td>
        <td><%= pagamento.valor %></td>
        <td><%= pagamento.desconto %></td>
        <td><%= pagamento.forma_de_pagamento %></td>
        <td><%= link_to 'Edit', edit_pagamento_path(evento: @evento,id: pagamento), remote: true %></td>
        <td><%= link_to 'Destroy', evento: @evento, id: pagamento, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>
