<table class="table">
  <thead>
    <tr>
      <th>Data</th>
      <th>Account</th>
      <th>Valor</th>
      <th>Desconto</th>
      <th>Forma de pagamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pagamentos.each do |pagamento| %>
      <tr>
        <td><%= pagamento.created_at %></td>
        <td><%= pagamento.account %></td>
        <td><%= pagamento.valor %></td>
        <td><%= pagamento.desconto %></td>
        <td><%= pagamento.forma_de_pagamento %></td>
        <td><%= link_to 'Show', pagamento %></td>
        <td><%= link_to 'Edit', edit_pagamento_path(pagamento) %></td>
        <td><%= link_to 'Destroy', pagamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
