<table class="table">
<thead>
  <tr>
    <th><%= sortable "quantidade_de_vagas", "Quantidade de vagas" %></th>
    <th>Data de inicio</th>
    <th>Data de fim</th>
    <th>Tipo evento</th>
    <th colspan="2"></th>
  </tr>
</thead>

<tbody>
  <% @eventos.each do |evento| %>
    <tr>
      <td><%= evento.quantidade_de_vagas %></td>
      <td><%= evento.data_de_inicio %></td>
      <td><%= evento.data_de_fim %></td>
      <td><%= evento.tipo_evento.nome %></td>
      <td><%= link_to 'Edit', edit_evento_path(evento), remote: true %></td>
      <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>
