<p id="notice"><%= notice %></p>

<p>
  <strong>Qtdvagas:</strong>
  <%= @evento.qtdVagas %>
</p>

<p>
  <strong>Dtinicio:</strong>
  <%= @evento.dtInicio %>
</p>

<p>
  <strong>Dtcadastro:</strong>
  <%= @evento.dtCadastro %>
</p>

<p>
  <strong>Dtfim:</strong>
  <%= @evento.dtFim %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @evento.tipo %>
</p>

<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
