<p id="notice"><%= notice %></p>

<p>
  <strong>Obs:</strong>
  <%= @pedido.obs %>
</p>

<p>
  <strong>User:</strong>
  <%= @pedido.user %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
