<table class="table">
<thead>
  <tr>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Dtcadastro</th>
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>
  <% @equipes.each do |equipe| %>
    <tr>
      <td><%= equipe.nome %></td>
      <td><%= equipe.tipo %></td>
      <td><%= equipe.dtCadastro %></td>
      <td><%= link_to 'Show', equipe %></td>
      <td><%= link_to 'Edit', edit_equipe_path(equipe) %></td>
      <td><%= link_to 'Destroy', equipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>