<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @equipe.nome %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @equipe.tipo %>
</p>

<p>
  <strong>Dtcadastro:</strong>
  <%= @equipe.dtCadastro %>
</p>

<%= link_to 'Edit', edit_equipe_path(@equipe) %> |
<%= link_to 'Back', equipes_path %>
