<table class="table table-striped">
  <thead>
    <tr>
      <th>Qtde</th>
      <th>Produto</th>
      <th>Valor Unid.</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>

  <tbody style="height: 120px; overflow-y: auto;">
    <% @pedido.produto_pedidos.each do |produto_pedido| %>
      <tr>
        <td><%= produto_pedido.quantidade %></td>
        <td><%= produto_pedido.produto.nome %></td>
        <td><%= number_to_currency(produto_pedido.produto.preco, :separator => ",", :delimiter => ".", :unit => "R$") %></td>
        <td><%= number_to_currency(produto_pedido.produto.preco*produto_pedido.quantidade, :separator => ",", :delimiter => ".", :unit => "R$") %></td>
        <td><%= link_to 'Remover', produto_pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
